<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pan.mapper.SystemAccountMapper">
    <update id="updateSystemAccount" parameterType="org.pan.domain.SystemAccount">
        UPDATE system_account
        SET username = #{username}, password = #{password}
        WHERE id = #{id}
    </update>
    <update id="updateSystemRole" parameterType="org.pan.domain.SystemRole">
        UPDATE system_role
        SET roleName = #{roleName}
        WHERE id = #{id}
    </update>

    <delete id="deleteSystemAccount">
        DELETE FROM system_account
        WHERE id = #{id}
    </delete>

    <delete id="deleteSystemRole">
        DELETE FROM system_account_role sar WHERE sar.system_role = #{id};
        DELETE FROM system_role WHERE id = #{id};
    </delete>

    <select id="findSystemAccountList" resultType="org.pan.domain.SystemAccount">
        SELECT * FROM system_account
        <where>
            <if test="username != null">
                username LIKE %#{username}%
            </if>
        </where>
    </select>

    <select id="findSystemAccount" resultType="org.pan.domain.SystemAccount">
        SELECT sa.* FROM system_account sa WHERE sa.username = #{username} AND sa.password = #{password}
    </select>
    <select id="findSystemRoleList" resultType="org.pan.domain.SystemRole">
        SELECT * FROM system_role
        <where>
            <if test="roleName != null">
                roleName like %#{roleName}%
            </if>
        </where>
    </select>

    <insert id="saveSystemAccount" parameterType="org.pan.domain.SystemAccount">
        INSERT INTO system_account(username, password) VALUES (#{username},#{password})
    </insert>
    <insert id="saveSystemRole" parameterType="org.pan.domain.SystemRole">
        INSERT INTO system_role(roleName) VALUES (#{roleName})
    </insert>
</mapper>